meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='find patterns in data with <fractalStrategies>')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')

link(rel="stylesheet", type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
script(type="text/javascript", src="https://code.jquery.com/jquery-latest.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Ubuntu')