extends layout

block title
  title= title

block content
  h1= title
  form#formNewTask(name='newtask', method='post', action='/newtask')
    input#inputTaskName(type='text', placeholder='taskname', name='taskname')
    input#inputCompletion(type='text', placeholder='50', name='completion')
    button#btnSubmit(type='submit') Submit