extends ../layout

block title
  title= title

block content
  .jumbotron
    .container
      h1 Direct Democracy
  .container
    .row
      .col-xs-3
      .col-xs-3
      .col-xs-3
      .col-xs-3