extends ../layout

block title
  title= title

block content
  .jumbotron
    .container
      h1 Reddit Metrics
  .container
    .row
      .col-xs-3
        h1 Stories
        ul
          li word count of transcript of GOP debate, by speaker
      .col-xs-3
        h1 Visualizations
        ul
          li Karma represented by size of nodes
      .col-xs-3
        h1 Automation
        ul
          li Regular statistics of reddit stats
          li Update visualizations to provide time series analysis
          li Able to scrape large numbers of subs
      .col-xs-3
        h1 AngularJS
        ul
          li Using NodeJS, Express, AngularJS, MongoDB