extends ../layout

block title
  title= title

block content
  .jumbotron.jumbotron-contact
    .container
      h1 Contact Us
  .container
    .row
      .col-xs-6
      .col-xs-6
        h2 Asif Hazrat
        h3 asifhazrat@gmail.com
        p 630.936.8882