extends ../layout

block title
  title= title

block content
  .jumbotron.jumbotron-tech
    .container
      h1 tools of the trade
  
  .container
    .row
      .col-xs-3
        h2 structured
        ul
          li HTML5
          li Jade
          li JavaScript
          li jQuery
      .col-xs-3
        h2 styled
        ul
          li CSS3
          li SCSS
          li Bootstrap
          li d3.js
      .col-xs-3
        h2 streamlined
        ul
          li NodeJS
          li Express
          li AngularJS
          li Grunt
      .col-xs-3
        h2 synchronized
        ul
          li Cloud9
          li Heroku
          li GitHub